<?xml version="1.0"?>
<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        testdox="true"
>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="TBP_BIBLE_BRAINS_KEY" value="$ENV{TBP_BIBLE_BRAINS_KEY}" />
    </php>

    <testsuites>
        <testsuite name="all">
            <directory suffix=".php">./tests/</directory>
            <file>./tests/CleanUp.php</file>
            <exclude>./tests/PluginTest.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
