sp-theme {
    --spectrum-font-family: var(--tbp-font-family, var(--wp--preset--font-family--body, var(--spectrum-font-family)));
}

.tpb__shortcode__error {
    display: flex;
    justify-content: center;
}