sp-theme {
    --spectrum-blue-100-rgb: 230, 241, 243;
    --spectrum-blue-200-rgb: 179, 223, 230;
    --spectrum-blue-300-rgb: 136, 204, 217;
    --spectrum-blue-400-rgb: 86, 184, 204;
    --spectrum-blue-500-rgb: 51, 167, 192;
    --spectrum-blue-600-rgb: 31, 149, 179;
    --spectrum-blue-700-rgb: 7, 132, 167;
    --spectrum-blue-800-rgb: 0, 114, 154;
    --spectrum-blue-900-rgb: 0, 121, 158; /* #00799E */
    --spectrum-blue-1000-rgb: 0, 98, 130;
    --spectrum-blue-1100-rgb: 0, 79, 104;
    --spectrum-blue-1200-rgb: 0, 63, 83;
    --spectrum-blue-1300-rgb: 0, 47, 62;
    --spectrum-blue-1400-rgb: 0, 31, 41;
    --spectrum-seafoam-100-rgb: 169, 245, 239;
    --spectrum-seafoam-200-rgb: 145, 235, 229;
    --spectrum-seafoam-300-rgb: 121, 225, 219;
    --spectrum-seafoam-400-rgb: 47, 188, 172; /* #2FBCAC */
    --spectrum-seafoam-500-rgb: 41, 172, 157;
    --spectrum-seafoam-600-rgb: 36, 156, 142;
    --spectrum-seafoam-700-rgb: 31, 140, 128;
    --spectrum-seafoam-800-rgb: 26, 125, 113;
    --spectrum-seafoam-900-rgb: 21, 109, 98;
    --spectrum-seafoam-1000-rgb: 16, 94, 84;
    --spectrum-seafoam-1100-rgb: 11, 79, 69;
    --spectrum-seafoam-1200-rgb: 6, 63, 55;
    --spectrum-seafoam-1300-rgb: 1, 48, 40;
    --spectrum-seafoam-1400-rgb: 0, 33, 25;
    --spectrum-seafoam-1500-rgb: 0, 18, 11;
    --spectrum-chartreuse-100-rgb: 226, 230, 153;
    --spectrum-chartreuse-200-rgb: 215, 219, 134;
    --spectrum-chartreuse-300-rgb: 204, 208, 114;
    --spectrum-chartreuse-400-rgb: 194, 198, 95;
    --spectrum-chartreuse-500-rgb: 183, 187, 75;
    --spectrum-chartreuse-600-rgb: 172, 177, 56;
    --spectrum-chartreuse-700-rgb: 211, 216, 68; /* #D3D844 */
    --spectrum-chartreuse-800-rgb: 180, 183, 69;
    --spectrum-chartreuse-900-rgb: 129, 134, 20;
    --spectrum-chartreuse-1000-rgb: 114, 118, 0;
    --spectrum-chartreuse-1100-rgb: 99, 103, 0;
    --spectrum-chartreuse-1200-rgb: 84, 87, 0;
    --spectrum-chartreuse-1300-rgb: 68, 72, 0;
    --spectrum-chartreuse-1400-rgb: 53, 56, 0;
    --spectrum-red-100-rgb: 255, 224, 218;
    --spectrum-red-200-rgb: 255, 208, 201;
    --spectrum-red-300-rgb: 255, 193, 185;
    --spectrum-red-400-rgb: 255, 177, 169;
    --spectrum-red-500-rgb: 255, 162, 153;
    --spectrum-red-600-rgb: 255, 146, 137; /* base color */
    --spectrum-red-700-rgb: 239, 128, 120;
    --spectrum-red-800-rgb: 224, 110, 102;
    --spectrum-red-900-rgb: 209, 92, 84;
    --spectrum-red-1000-rgb: 194, 74, 66;
    --spectrum-red-1100-rgb: 179, 56, 49;
    --spectrum-red-1200-rgb: 164, 38, 31;
    --spectrum-red-1300-rgb: 149, 20, 14;
    --spectrum-red-1400-rgb: 134, 2, 0;
    --spectrum-brown-100-rgb: 211, 180, 165;
    --spectrum-brown-200-rgb: 192, 161, 146;
    --spectrum-brown-300-rgb: 174, 142, 127;
    --spectrum-brown-400-rgb: 155, 123, 108;
    --spectrum-brown-500-rgb: 137, 104, 89;
    --spectrum-brown-600-rgb: 118, 85, 70;
    --spectrum-brown-700-rgb: 105, 72, 52; /* #694834 */
    --spectrum-brown-800-rgb: 97, 64, 46;
    --spectrum-brown-900-rgb: 80, 54, 39;
    --spectrum-brown-1000-rgb: 64, 44, 33;
    --spectrum-green-100-rgb: 164, 232, 226;
    --spectrum-green-200-rgb: 143, 223, 217;
    --spectrum-green-300-rgb: 121, 214, 208;
    --spectrum-green-400-rgb: 37, 178, 162; /* was: 47, 188, 172 */
    --spectrum-green-500-rgb: 30, 163, 148;
    --spectrum-green-600-rgb: 24, 148, 134;
    --spectrum-green-700-rgb: 18, 133, 120;
    --spectrum-green-800-rgb: 13, 118, 106;
    --spectrum-green-900-rgb: 7, 103, 92;
    --spectrum-green-1000-rgb: 2, 88, 78;
    --spectrum-green-1100-rgb: 0, 73, 64;
    --spectrum-green-1200-rgb: 0, 58, 50;
    --spectrum-green-1300-rgb: 0, 43, 35;
    --spectrum-green-1400-rgb: 0, 28, 21;
    --spectrum-accent-color-100: var(--spectrum-seafoam-100);
    --spectrum-accent-color-200: var(--spectrum-seafoam-200);
    --spectrum-accent-color-300: var(--spectrum-seafoam-300);
    --spectrum-accent-color-400: var(--spectrum-seafoam-400);
    --spectrum-accent-color-500: var(--spectrum-seafoam-500);
    --spectrum-accent-color-600: var(--spectrum-seafoam-600);
    --spectrum-accent-color-700: var(--spectrum-seafoam-700);
    --spectrum-accent-color-800: var(--spectrum-seafoam-800);
    --spectrum-accent-color-900: var(--spectrum-seafoam-900);
    --spectrum-accent-color-1000: var(--spectrum-seafoam-1000);
    --spectrum-accent-color-1100: var(--spectrum-seafoam-1100);
    --spectrum-accent-color-1200: var(--spectrum-seafoam-1200);
    --spectrum-accent-color-1300: var(--spectrum-seafoam-1300);
    --spectrum-accent-background-color-default: var(--spectrum-accent-color-600);
    --spectrum-accent-background-color-hover: var(--spectrum-accent-color-700);
    --spectrum-accent-background-color-down: var(--spectrum-accent-color-800);
    --spectrum-accent-background-color-key-focus: var(--spectrum-accent-color-700);
    --spectrum-seafoam-background-color-default: var(--spectrum-seafoam-500);
}